header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #E94B3CFF;
    border-bottom: 3px solid black;
}
header h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2d2926ff;
}